<!Doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title th:text="#{armyBase.register}">Title</title>
    <th:block th:include="fragments/frag :: headerfiles">
    </th:block>

</head>

<body>
<div class="w3-content">
    <form  class="w3-card">
        <div  id="registerContent">
            <h1>Register</h1>
            <p>Please fill in this form to create an account.</p>
            <hr>
            <label for="tagNumber">
                <b>Tag Number</b>
            </label><br>
            <input data-bind = " value:tagNumber " type="text" placeholder="Enter your Tag Number"  required>
            <p style = "color : red" id = "tagError"></p>
		
            <label for="email">
                <b>Email</b>
            </label><br>
            <input data-bind = "value:email" type="text" placeholder="Enter your Email" required>
                <span style = "color : red" id = "emailError"></span>
			<br>
            <label for="psw">
                <b>Password</b>
            </label><br>
            <input data-bind = "value:password" type="password" placeholder="Enter your Password" id ="pass" required>
            <span style = "color : red" class = "passwordError"></span><br>
            <label for="psw-repeat">
                <b>Repeat Password</b>
            </label><br>
            <input data-bind = "value:repeatPassword" type="password" placeholder="Repeat your Password" id ="passRep"  required>
            <span style = "color : red" class = "passwordError"></span>

            <hr>

            <button th:text="#{armyBase.register}" data-bind = "click : register" 
            class="registerbtn officialColor">Register</button>
        </div>

        <div class="container signin">
            <p>Already have an account?
                <a th:href="@{/login}">Sign in</a>.</p>
        </div>
    </form>
 </div>
	<div th:replace="fragments/frag :: footer"></div>
	
    <script th:src="@{/js/RegisterVM.js}" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            var registerVM = new RegisterVM({
                contextPath: '[[@{/}]]',
                soldierUrlBase: '[[@{/rest/soldier}]]',
                userUrlBase: '[[@{/user}]]'
            });

            ko.applyBindings(registerVM, document.getElementById("registerContext"));
        });
    </script>
</body>

</html>